<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/branch_home.css" />
    <link rel="stylesheet" href="/css/output.css" />

    <title>Quản lý nhân viên</title>
    <style>
      .button {
        position: relative;
        width: 200px;
        height: 40px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid #34974d;
        background-color: #3aa856;
      }

      .button,
      .button__icon,
      .button__text {
        transition: all 0.3s;
      }

      .button .button__text {
        transform: translateX(20px);
        color: #fff;
        font-weight: 600;
      }

      .button .button__icon {
        position: absolute;
        transform: translateX(160px);
        height: 100%;
        width: 39px;
        background-color: #34974d;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .button .svg {
        width: 30px;
        stroke: #fff;
      }

      .button:hover {
        background: #34974d;
      }

      .button:hover .button__text {
        color: transparent;
      }

      .button:hover .button__icon {
        width: 148px;
        transform: translateX(20px);
      }

      .button:active .button__icon {
        background-color: #2e8644;
      }

      .button:active {
        border: 1px solid #2e8644;
      }
    </style>
  </head>
  <body class="text-gray-800 font-inter">
    <!--sidenav -->
    <%- include('../partials/company/company_side_nav') %>
    <!-- end sidenav -->

    <main
      class="w-full md:w-[calc(100%-256px)] md:ml-64 bg-gray-200 min-h-screen transition-all main"
    >
      <!-- Navbar -->
      <%- include('../partials/company/company_navbar') %>
      <!-- End Navbar -->

      <!-- Content -->
      <div class="mx-10 mt-10">
        <!-- Title -->
        <div class="text-[30px] font-semibold text-[#374151] mb-5">
          Quản lý nhân viên
        </div>
        <div class="flex justify-between items-end">
          <div class="w-[30%]">
            <label for="branch-select">Chi nhánh</label>
            <div class="mt-2">
              <select
                id="branch-select"
                name="branchId"
                class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-[#f84525] focus:border-[#f84525] text-gray-700"
                onchange="updateUrlWithBranchId(this)"
              >
                <option value="" disabled selected>- Chọn chi nhánh -</option>
                <% branches.forEach(branch => { %>
                <option value="<%= branch.BRANCH_ID %>">
                  <%= branch.BRANCH_NAME %>
                </option>
                <% }); %>
              </select>
            </div>
          </div>
          <% if (branchId) { %>
          <div class="">
            <button
              type="button"
              class="button"
              onclick="window.location.href='/company/resource/add?branchId=<%= branchId %>'"
            >
              <span class="button__text">Thêm nhân viên</span>
              <span class="button__icon"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke-linejoin="round"
                  stroke-linecap="round"
                  stroke="currentColor"
                  height="24"
                  fill="none"
                  class="svg"
                >
                  <line y2="19" y1="5" x2="12" x1="12"></line>
                  <line y2="12" y1="12" x2="19" x1="5"></line>
                </svg>
              </span>
            </button>
          </div>
          <% } %>
        </div>
        <div class="flex flex-col mt-2">
          <div
            class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8"
          >
            <div
              class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
            >
              <table id="employeeTable" class="min-w-full">
                <thead>
                  <tr>
                    <th
                      class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                    >
                      Name
                    </th>
                    <th
                      class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                    >
                      Status
                    </th>
                    <th
                      class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50 text-center"
                    >
                      <select
                        id="departmentFilter"
                        class="p-1 border border-black rounded-md text-sm text-center"
                        onchange="filterTable()"
                      >
                        <option value="">Tất cả</option>
                        <% if (departmentList && departmentList.length > 0) { %>
                        <% departmentList.forEach(department => { %>
                        <option value="<%= department.DEPARTMENT_ID %>">
                          <%= department.DEPARTMENT_NAME %>
                        </option>
                        <% }) %>
                        <% } else { %>
                        <option disabled>Không có phòng ban</option>
                        <% } %>
                      </select>
                    </th>
                    <th
                      colspan="3"
                      class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                    >
                      <div class="relative">
                        <label for="searchInput">Tìm kiếm</label>
                        <input
                          id="searchInput"
                          type="text"
                          placeholder="Nhập tên, mã nhân viên..."
                          class="p-2 pl-3 pr-10 w-[80%] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500"
                          oninput="filterTable()"
                        />
                        <i
                          class="ri-search-line absolute top-1/2 transform -translate-y-1/2 right-[15%] text-gray-400"
                        ></i>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white" id="employeeTableBody">
                  <% if (employeeList.length > 0) { %> <%
                  employeeList.forEach(employee => { %>
                  <tr
                    data-name="<%= employee.FULL_NAME %>"
                    data-id="<%= employee.EMPLOYEE_ID %>"
                    data-department="<%= employee.DEPARTMENT_ID %>"
                    class="relative text-center"
                  >
                    <td
                      class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 w-[20%]"
                    >
                      <div class="flex items-center text-start">
                        <div class="flex-shrink-0 w-10 h-10">
                          <img
                            class="w-10 h-10 rounded-full"
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                            alt=""
                          />
                        </div>
                        <div class="ml-4">
                          <div
                            class="text-sm font-medium leading-5 text-gray-900"
                          >
                            <%= employee.FULL_NAME %>
                          </div>
                          <div class="text-sm leading-5 text-gray-500">
                            <%= employee.EMPLOYEE_ID %>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td
                      class="px-6 py-7 whitespace-no-wrap border-b border-gray-200 flex justify-center"
                    >
                      <% if (!employee.TERMINATION_DATE) { %>
                      <div
                        class="flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full w-[100px] justify-center items-center text-center"
                      >
                        Active
                      </div>
                      <% } else { %>
                      <div
                        class="flex px-2 text-xs font-semibold leading-5 text-red-800 bg-red-100 rounded-full w-[100px] justify-center items-center text-center"
                      >
                        Terminate
                      </div>
                      <% } %>
                    </td>
                    <td
                      class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200"
                    >
                      <%= employee.DEPARTMENT_NAME %>
                    </td>
                    <td
                      class="px-6 py-4 text-sm leading-5 whitespace-no-wrap border-b border-gray-200 text-blue-500"
                    >
                      <a
                        href="/company/resource/transfer?employeeId=<%= employee.EMPLOYEE_ID %>&branchId=<%= branchId %>"
                        >Chuyển chi nhánh
                      </a>
                    </td>
                    <td
                      class="px-6 py-4 text-sm leading-5 whitespace-no-wrap border-b border-gray-200 text-purple-400"
                    >
                      <a
                        href="/company/resource/update?employeeId=<%= employee.EMPLOYEE_ID %>&branchId=<%= branchId %>"
                        >Cập nhật
                        </a>
                    </td>
                  </tr>
                  <% }) %>
                  <% } else { %>
                  <tr>
                    <td colspan="5" class="text-center py-4">
                      Không có dữ liệu nhân viên
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- End Content -->
    </main>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/popper.js"></script>
    <script>
      //start: Toggle-dropdown
      function toggleDropdown(icon) {
        const dropdown = icon.closest("td").querySelector(".dropdown-content");
        // Toggle visibility of the dropdown
        dropdown.classList.toggle("hidden");
      }
      //end: Toggle-dropdown
      function filterByDepartment(departmentId) {
        const rows = document.querySelectorAll("#employeeTable tr");
        rows.forEach((row) => {
          const department = row.getAttribute("data-department");
          if (!departmentId || department === departmentId) {
            row.style.display = ""; // Hiển thị dòng
          } else {
            row.style.display = "none"; // Ẩn dòng
          }
        });
      }
      function filterTable() {
        const searchValue = document
          .getElementById("searchInput")
          .value.toLowerCase();
        const departmentFilterValue =
          document.getElementById("departmentFilter").value;
        const rows = document.querySelectorAll("#employeeTableBody tr");

        rows.forEach((row) => {
          const employeeName = row.dataset.name.toLowerCase();
          const employeeId = row.dataset.id.toLowerCase();
          const departmentId = row.dataset.department;

          // Kiểm tra điều kiện lọc tên và mã nhân viên
          const matchesSearch =
            employeeName.includes(searchValue) ||
            employeeId.includes(searchValue);

          // Kiểm tra điều kiện lọc phòng ban
          const matchesDepartment =
            departmentFilterValue === "" ||
            departmentId === departmentFilterValue;

          // Nếu cả hai điều kiện đều thỏa mãn, hiển thị hàng
          if (matchesSearch && matchesDepartment) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        });
      }
    </script>
    <script>
      function updateUrlWithBranchId(selectElement) {
        const branchId = selectElement.value;

        // Chuyển hướng đến URL mới
        const newUrl = `/company/resource?branchId=${branchId}`; // Tạo URL với key và value
        window.location.href = newUrl; // Điều hướng tới URL mới
      }
    </script>
  </body>
</html>
