<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/branch_home.css" />
    <link rel="stylesheet" href="/css/output.css" />

    <title>Cập nhật thông tin nhân viên</title>
  </head>
  <body class="text-gray-800 font-inter">
    <!--sidenav -->
    <%- include('../partials/company/company_side_nav') %>
    <!-- end sidenav -->

    <main
      class="w-full md:w-[calc(100%-256px)] md:ml-64 bg-gray-200 min-h-screen transition-all main"
    >
      <!-- Navbar -->
      <%- include('../partials/company/company_navbar') %>
      <!-- End Navbar -->

      <!-- Content -->
      <!-- Content -->
      <div class="mx-10 mt-10">
        <div class="text-[30px] font-semibold text-[#374151] mb-5">
          Cập nhật thông tin nhân viên
        </div>

        <!-- Employee Information Form -->
        <div class="bg-white p-6 shadow-md rounded-lg">
          <form id="employeeForm" action="/company/resource/update" method="POST">
            
            <!-- Employee ID (Readonly) -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label for="employeeId" class="block text-gray-700 font-medium mb-2">
                  Mã nhân viên
                </label>
                <input
                  type="text"
                  id="employeeId"
                  name="employeeId"
                  class="block w-full p-2 border rounded-md bg-gray-100 text-gray-500 cursor-not-allowed"
                  value="<%= employee.EMPLOYEE_ID %>"
                  readonly
                />
              </div>
              <div>
                <label for="fullName" class="block text-gray-700 font-medium mb-2">
                  Họ và tên
                </label>
                <input
                  type="text"
                  id="fullName"
                  name="fullName"
                  class="block w-full p-2 border rounded-md"
                  value="<%= employee.FULL_NAME %>"
                />
              </div>
          
             
            </div>
          
            <!-- Department, Date of Joining and Date of Resignation -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
               <!-- Gender -->
               <div>
                <label for="gender" class="block text-gray-700 font-medium mb-2">
                  Giới tính
                </label>
                <select
                  id="gender"
                  name="gender"
                  class="block w-full p-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-300"
                  required
                >
                  <option value="Nam" <%= employee.GENDER === 'male' ? 'selected' : '' %>>Nam</option>
                  <option value="Nữ" <%= employee.GENDER === 'female' ? 'selected' : '' %>>Nữ</option>

                </select>
              </div>
              <div>
                <label for="department" class="block text-gray-700 font-medium mb-2">
                  Bộ phận
                </label>
                <select
                  id="department"
                  name="department"
                  class="block w-full p-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-300"
                  required
                >
                  <% departments.forEach(department => { %>
                    <option value="<%= department.DEPARTMENT_ID %>" <%= employee.DEPARTMENT_ID === department.DEPARTMENT_ID ? 'selected' : '' %>>
                      <%= department.DEPARTMENT_NAME %>
                    </option>
                  <% }); %>
                </select>
              </div>
          
            </div>
          
            <!-- Date of Resignation and Date of Joining -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
               <!-- Date of Birth -->
               <div>
                <label for="dob" class="block text-gray-700 font-medium mb-2">
                  Ngày sinh
                </label>
                <input
                  type="date"
                  id="dob"
                  name="dob"
                  class="block w-full p-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-300"
                  value="<%= employee.DATE_OF_BIRTH %>"
                  required
                />
              </div>
              <div>
                <label for="terminationDate" class="block text-gray-700 font-medium mb-2">
                  Ngày nghỉ việc
                </label>
                <input
                  type="date"
                  id="terminationDate"
                  name="terminationDate"
                  class="block w-full p-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-300"
                  value="<%= employee.TERMINATION_DATE %>"
                />
              </div>
              
          
              <!-- Date of Joining -->
              <div>
                <label for="startDateWork" class="block text-gray-700 font-medium mb-2">
                  Ngày vào làm
                </label>
                <input
                  type="date"
                  id="startDateWork"
                  name="startDateWork"
                  class="block w-full p-2 border rounded-md focus:outline-none focus:ring focus:ring-indigo-300"
                  value="<%= employee.START_DATE_WORK %>"
                  required
                />
              </div>
            </div>
          
            <!-- Submit Button -->
            <div class="mt-6 flex justify-center space-x-4">
              <button
              type="button"
              class="bg-[#fd7272] text-white px-9 py-2 rounded-lg hover:bg-[#fd6161] w-[150px]"
              onclick="submitDeleteForm()"
            >
              Xoá
            </button>
              <button
              type="submit"
              class="bg-indigo-600 text-white px-9 py-2 rounded-lg hover:bg-indigo-700 w-[150px]"
            >
              Cập nhật
            </button>
            </div>
          </form>
          
        </div>
      </div>

      <!-- End Content -->
    </main>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/popper.js"></script>
    <script>
      //start: Toggle-dropdown
      function toggleDropdown(icon) {
        const dropdown = icon.closest("td").querySelector(".dropdown-content");
        // Toggle visibility of the dropdown
        dropdown.classList.toggle("hidden");
      }
      //end: Toggle-dropdown
      function submitDeleteForm() {
    const form = document.getElementById("employeeForm");
    form.action = "/company/resource/delete";
    form.method = "POST";
    form.submit();
  }
    </script>
  </body>
</html>
