<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/branch_home.css" />
    <link rel="stylesheet" href="/css/output.css" />

    <title>Chuyển nhân sự</title>
  </head>
  <body class="text-gray-800 font-inter">
    <!--sidenav -->
    <%- include('../partials/company/company_side_nav') %>
    <!-- end sidenav -->

    <main
      class="w-full md:w-[calc(100%-256px)] md:ml-64 bg-gray-200 min-h-screen transition-all main"
    >
      <!-- Navbar -->
      <%- include('../partials/company/company_navbar') %>
      <!-- End Navbar -->

      <!-- Content -->
      <div class="ml-[20%] mt-10">
        <!-- Title -->
        <div class="text-[30px] font-semibold text-[#374151] mb-5">
          Chuyển nhân sự
        </div>
        <!-- Form chuyển nhân viên -->
        <form
          action="/company/resource/transfer?employeeId=<%= employee.EMPLOYEE_ID %>&branchId=<%= branchId %>"
          method="POST"
        >
          <div class="bg-white rounded-lg shadow-lg w-[80%] p-6">
            <!-- Thông tin nhân viên -->
            <div class="grid grid-cols-2 gap-4 mb-4">
              <!-- Mã nhân viên -->
              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Mã nhân viên</label
                >
                <input
                  type="text"
                  value="<%= employee.EMPLOYEE_ID %>"
                  readonly
                  class="mt-1 p-2 w-full rounded-md border-gray-300 bg-gray-100 cursor-not-allowed"
                />
              </div>
              <!-- Họ tên -->
              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Họ tên</label
                >
                <input
                  type="text"
                  value="<%= employee.FULL_NAME%>"
                  readonly
                  class="mt-1 p-2 w-full rounded-md border-gray-300 bg-gray-100 cursor-not-allowed"
                />
              </div>
              <!-- Bộ phận -->
              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Bộ phận</label
                >
                <input
                  type="text"
                  value="<%= employee.DEPARTMENT_NAME  %>"
                  readonly
                  class="mt-1 p-2 w-full rounded-md border-gray-300 bg-gray-100 cursor-not-allowed"
                />
              </div>
            </div>

            <!-- Chọn chi nhánh -->
            <div class="mb-6">
              <label class="block text-sm font-medium text-gray-700"
                >Chi nhánh</label
              >
              <select
                class="mt-1 p-2 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
                name="departmentId"
              >
                <% if (branches && branches.length > 0) { %> <%
                branches.forEach(branch => { %>
                <option value="<%= branch.DEPARTMENT_ID%>">
                  <%= branch.BRANCH_NAME %>, <%=branch.BRANCH_ID%>
                </option>
                <% }) %>
                <% } else { %>
                <option value="" disabled>Không có chi nhánh</option>
                <% } %>
              </select>
            </div>

            <!-- Nút hành động -->
            <div class="flex justify-center gap-4">
              <a href="/company-resource">
                <button
                  class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 w-[100px]"
                >
                  Hủy
                </button>
              </a>
              <button
                type="submit"
                class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 w-[100px]"
              >
                Chuyển
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- End Content -->
    </main>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/popper.js"></script>
  </body>
</html>
