<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/branch_home.css" />
    <link rel="stylesheet" href="/css/output.css" />

    <title>Quản lý thẻ khách hàng</title>
  </head>
  <body class="text-gray-800 font-inter">
    <!--sidenav -->
    <%- include('../partials/branch/branch_side_nav') %>
    <!-- end sidenav -->

    <main
      class="w-full md:w-[calc(100%-256px)] md:ml-64 bg-gray-200 min-h-screen transition-all main"
    >
      <!-- Navbar -->
      <%- include('../partials/branch/branch_navbar') %>
      <!-- End Navbar -->

      <!-- Content -->
      <div class="mx-10 mt-10">
        <!-- Title -->
        <div class="text-[30px] font-semibold text-[#374151]">
          Quản lý thẻ khách hàng
        </div>

        <!-- Form Thêm/Cập nhật -->
        <form
          action="/branch/<%= branchId %>/customer-card"
          method="POST"
          id="cardForm"
          class="mt-6 bg-white p-6 rounded-lg shadow-md"
        >
          <h2 class="text-lg font-semibold mb-2">Tìm kiếm thẻ khách hàng</h2>
          <input
            name="phoneNum"
            type="number"
            placeholder="Nhập số điện thoại khách hàng"
            class="w-[30%]"
          />

          <button
            type="submit"
            class="mt-4 px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
          >
            Tìm kiếm
          </button>
        </form>
        <div class="mt-4">
          <div class="ml-[22px]">
            <h2 class="text-lg font-semibold mb-2">Tạo thẻ khách hàng</h2>
          </div>
          <ul class="grid w-full gap-6 md:grid-cols-3">
            <li>
              <a
                href="/branch/<%= branchId %>/customer-card/new-customer-card"
                class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
              >
                <div class="block text-center">
                  <div class="w-full text-lg font-semibold">
                    Tạo cho khách hàng mới
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a
                href="/branch/<%= branchId %>/customer-card/old-customer-card"
                class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
              >
                <div class="block text-center">
                  <div class="w-full text-lg font-semibold">
                    Tạo cho khách hàng cũ
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <!-- Danh sách thẻ -->
        <div id="cardList" class="mt-8 bg-white p-6 rounded-lg shadow-md">
          <h2 class="text-lg font-semibold">Danh sách thẻ khách hàng</h2>
          <table class="min-w-full mt-4 border">
            <thead>
              <tr>
                <th class="border px-4 py-2">Mã thẻ</th>
                <th class="border px-4 py-2">Mã khách hàng</th>
                <th class="border px-4 py-2">Ngày mở thẻ</th>
                <th class="border px-4 py-2">Số điểm</th>
                <th class="border px-4 py-2">Trạng thái</th>
                <th class="border px-4 py-2">Loại thẻ</th>
                <th class="border px-4 py-2">Hành động</th>
              </tr>
            </thead>
            <tbody id="cardTable" class="text-center">
              <% if (membershipCard && membershipCard.length > 0) { %> <%
              membershipCard.forEach((card) => { %>
              <tr>
                <td class="border px-4 py-2"><%= card.CARD_ID %></td>
                <td class="border px-4 py-2"><%= card.CUSTOMER_ID %></td>
                <td class="border px-4 py-2">
                  <%= new Date(card.DATE_ISSUED).toLocaleDateString() %>
                </td>
                <td class="border px-4 py-2"><%= card.POINTS %></td>
                <td class="border px-4 py-2">
                  <%= card.CARD_STATUS === "Active" ? "Hoạt động" : "Không hoạt động" %>
                </td>
                <td class="border px-4 py-2"><%= card.CARD_TYPE %></td>
                <td class="border px-4 py-2 flex justify-center space-x-4">
                  <form
                    action="/branch/<%= branchId %>/customer-card/delete"
                    method="POST"
                  >
                    <input
                      type="text"
                      name="cardId"
                      value="<%= card.CARD_ID %>"
                      class="hidden"
                    />
                    <button
                      class="px-4 py-2 bg-red-500 text-white rounded-md font-serif font-bold hover:bg-red-600"
                    >
                      Xóa
                    </button>
                  </form>
                  <form
                    action="/branch/<%= branchId %>/customer-card/update"
                    method="GET"
                  >
                    <input
                      type="text"
                      name="cardId"
                      value="<%= card.CARD_ID %>"
                      class="hidden"
                    />
                    <button
                      class="px-4 py-2 bg-[#0878FF] text-white font-serif font-bold rounded-md hover:bg-[#4a9bfd]"
                    >
                      Cập nhật
                    </button>
                  </form>
                </td>
              </tr>
              <% }) %>
              <% } else { %>
              <tr>
                <td colspan="7" class="text-center py-4">
                  Không tìm thấy thẻ khách hàng nào.
                </td>
              </tr>
              <% } %>
            </tbody>

            <tbody id="cardTable"></tbody>
          </table>
        </div>
      </div>
    </main>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/sidebar.js"></script>
    <script src="/js/popper.js"></script>
  </body>
</html>