<div class="rating">
  <input
    value="5"
    name="rate_<%= order.ORDER_ID %>"
    id="star5_<%= order.ORDER_ID %>"
    type="radio"
    class="hidden"
  />
  <label title="text" for="star5_<%= order.ORDER_ID %>"></label>
  <input
    value="4"
    name="rate_<%= order.ORDER_ID %>"
    id="star4_<%= order.ORDER_ID %>"
    type="radio"
    class="hidden"
  />
  <label title="text" for="star4_<%= order.ORDER_ID %>"></label>
  <input
    value="3"
    name="rate_<%= order.ORDER_ID %>"
    id="star3_<%= order.ORDER_ID %>"
    type="radio"
    checked=""
    class="hidden"
  />
  <label title="text" for="star3_<%= order.ORDER_ID %>"></label>
  <input
    value="2"
    name="rate_<%= order.ORDER_ID %>"
    id="star2_<%= order.ORDER_ID %>"
    type="radio"
    class="hidden"
  />
  <label title="text" for="star2_<%= order.ORDER_ID %>"></label>
  <input
    value="1"
    name="rate_<%= order.ORDER_ID %>"
    id="star1_<%= order.ORDER_ID %>"
    type="radio"
    class="hidden"
  />
  <label title="text" for="star1_<%= order.ORDER_ID %>"></label>
</div>
